.order {
    max-width: 360px;
    width: 100%;
    padding: 40px;
    border: 1px solid rgba(68, 68, 68, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order .title {
    font-family: Josefin Sans;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    color: rgba(0, 0, 0, 1);
}

.orderPriceWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.priceRow {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(68, 68, 68, 0.1);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: rgba(68, 68, 68, 1);
}

.priceRow.delimiter {
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.priceRow.total {
    border-bottom: none;
}

.priceRow.total .name {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    color: rgba(0, 0, 0, 1);
}

.priceRow.total .price {
    font-family: Josefin Sans;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    color: rgba(0, 0, 0, 1);
}

.additional {
    font-size: 14px;
    line-height: 24px;
}

.priceRow .price {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    color: rgba(68, 68, 68, 1);
}

.buttonWrapper {
    max-width: 274px;
}

.buttonWrapper .button {
    position: relative;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    border: none;
    background: rgba(0, 0, 0, 1);
    padding: 17px 74px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.order .buttonWrapper .button::after {
    content: '';
    width: 2px;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0;
    right: -4px;
}