* {
    font-family: 'Raleway', Arial, sans-serif;
}

html, body {
    overflow-x: hidden;
}

.container-big {
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.mt-120 {
    margin-bottom: 120px;
}

.mt-200 {
    margin-bottom: 200px;
}

.mt-250 {
    margin-bottom: 250px;
}

.container .input {
    border: none;
    border-bottom: 1px solid rgba(68, 68, 68, 0.2);
    width: 100%;
    padding: 0 0 15px 0;
    color: rgba(68, 68, 68, 0.5);
    outline: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.container .button-wrapper {
    display: flex;
    gap: 2px;
    align-items: center;
    max-width: 240px;
    width: 100%;
    cursor: pointer;
}

.container .button-wrapper .button {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    border: none;
    background: rgba(0, 0, 0, 1);
    padding: 17px 74px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.container .button-wrapper .vertical-line {
    min-width: 2px;
    height: 100%;
    background: rgba(0, 0, 0, 1);
}

.container .price {
    display: flex;
    gap: 15px;
    align-items: center;
}

.container .price .current-price {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.container .price .old-price {
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: rgba(68, 68, 68, 1);
    text-decoration: line-through;
}

.container .custom-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container .custom-list .item {
    color: rgba(68, 68, 68, 1);
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.container .custom-list .item::before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background-image: url("../icons/square.svg");
}

.container .custom-list .item.active {
    color: rgba(255, 142, 142, 1);
    display: flex;
    align-items: center;
}

.container .custom-list .item.active::before {
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    background-image: url("../icons/small-row.svg");
}

.container .find-us .find-us-text {
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    color: rgba(0, 0, 0, 1);
}

.container .find-us .find-us-links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.container .find-us .find-us-links .find-us-link a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    color: rgba(68, 68, 68, 1);
}

.container .find-us .find-us-links .line {
    border-bottom: 1px solid rgba(68, 68, 68, 1);
    width: 10px;
    height: 1px;
}