.shop {
    display: flex;
    gap: 50px;
}

.shop .sidebar {
    max-width: 244px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.shop .sidebar .sidebar-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.shop .sidebar .sidebar-item .sidebar-title {
    font-family: Josefin Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    gap: 15px;
}

.shop .products-wrapper {
    max-width: 846px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.shop .products-wrapper .sort-and-count {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.shop .products-wrapper .sort-and-count .bold {
    font-weight: 600;
}

.shop .products-wrapper .products {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 30px;
}