.footer {
    border-top: 20px solid rgba(238, 238, 238, 1);
}

.footerInfo {
    margin: 110px 0 90px 0;
    display: flex;
}

.column .title {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.column.column1 {
    max-width: 330px;
    margin: 0 60px 0 0;
}

.column.column2 {
    margin: 0 108px 0 0;
}

.column.column3 {
    margin: 0 74px 0 0;
}

.column.column2,
.column.column3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.customList .item {
    gap: 12px;
}

.customList a {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: rgba(68, 68, 68, 1);
}

.customList .item::before {
    width: 3px;
    height: 3px;
}

.column.column4 {
    max-width: 361px;
}

.column.column4 .title {
    margin: 0 0 16px 0;
}

.newsletterText {
    margin: 0 0 36px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(68, 68, 68, 1);
}

.newsletterForm {
    position: relative;
}

.inputNewsletterForm {
    padding: 0 30px 15px 0;
}

.sendIcon {
    position: absolute;
    right: 0;
}

.logo {
    margin: 0 0 25px 0;
}

.aboutBrand {
    padding: 0 0 25px 0;
    border-bottom: 1px solid rgba(68, 68, 68, 0.2);
    margin: 0 0 35px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(68, 68, 68, 1);
}

.copyright {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    border-top: 1px solid rgba(68, 68, 68, 0.2);
    padding-top: 23px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(68, 68, 68, 1);
}

.paymentMethodsContainer {
    display: flex;
    gap: 13px;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(68, 68, 68, 1);
}

.paymentMethods {
    display: flex;
    gap: 8px;
}

.dotsLeft {
    position: absolute;
    left: -229px;
    top: -78px;
}

.dotsRight {
    position: absolute;
    right: -360px;
    top: -25px;
}